<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="true" />


    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hosp"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".hr.Profile"
            android:exported="false" />
        <activity
            android:name=".hr.AddEmployee"
            android:exported="false" />
        <activity
            android:name=".hr.Employee"
            android:exported="false" />
        <activity
            android:name=".hr.HrHomePage"
            android:exported="false" />
        <activity
            android:name=".manger.AddTaskManger"
            android:exported="false" />
        <activity
            android:name=".manger.MaintasksDetails"
            android:exported="false" />
        <activity
            android:name=".manger.MainTasks"
            android:exported="false" />
        <activity
            android:name=".manger.CasesDetialsMAnger"
            android:exported="false" />
        <activity
            android:name=".manger.CasesManger"
            android:exported="false" />
        <activity
            android:name=".manger.MangerHomePage"
            android:exported="false" />
        <activity
            android:name=".analysis.AddRecord"
            android:exported="false" />
        <activity
            android:name=".analysis.RequestsDetails"
            android:exported="false" />
        <activity
            android:name=".analysis.Requests"
            android:exported="false" />
        <activity
            android:name=".analysis.AnalysisEmployeeHomePage"
            android:exported="false" />
        <activity
            android:name=".doctor.Cases"
            android:exported="false" />
        <activity
            android:name=".doctor.ShowMeasurmentrecord"
            android:exported="false" />
        <activity
            android:name=".doctor.ShowMedicalRecord"
            android:exported="false" />
        <activity
            android:name=".doctor.MedicalMeasurment"
            android:exported="false" />
        <activity
            android:name=".doctor.MedicalRecord"
            android:exported="false" />
        <activity
            android:name=".doctor.SelectNurse"
            android:exported="false" />
        <activity
            android:name=".doctor.CaseDetials"
            android:exported="false" />
        <activity
            android:name=".doctor.CallsDoctors"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorHomePage"
            android:exported="false" />
        <activity
            android:name=".ReceptionistLeavingFingerPrintA"
            android:exported="false" />
        <activity
            android:name=".ReceptionistAttendanceFingerPrint"
            android:exported="false" />
        <activity
            android:name=".AttendenceAndLeaving"
            android:exported="false" />
        <activity
            android:name=".NotificationReceptionist"
            android:exported="false" />
        <activity
            android:name=".ReportsDetails"
            android:exported="false" />
        <activity
            android:name=".CreateReports"
            android:exported="false" />
        <activity
            android:name=".Reports"
            android:exported="false" />
        <activity
            android:name=".TasksDetails"
            android:exported="false" />
        <activity
            android:name=".Tasks"
            android:exported="false" />
        <activity
            android:name=".CallDone"
            android:exported="false" />
        <activity
            android:name=".Select_Doctor"
            android:exported="false" />
        <activity
            android:name=".CreateCall"
            android:exported="false" />
        <activity
            android:name=".Calls"
            android:exported="false" />
        <activity
            android:name=".Receptionist_homepage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Loading_Activity"
            android:exported="false" />
        <activity
            android:name=".ProtoType_Activity"
            android:exported="false" />
        <activity
            android:name=".SplashHosp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>